In [29]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [30]:
pd.__version__

'1.5.3'

In [34]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [35]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

### Insert only the column names first

In [25]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

### Append the first batch (100000 lines) of data into the created table

In [36]:
while True:

    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()
    
    print('Inserted another chunk..., took %.3f seconds' % (t_end - t_start))

Inserted another chunk..., took 29.524 seconds
Inserted another chunk..., took 23.045 seconds
Inserted another chunk..., took 31.440 seconds
Inserted another chunk..., took 28.658 seconds
Inserted another chunk..., took 27.159 seconds
Inserted another chunk..., took 36.088 seconds
Inserted another chunk..., took 12.432 seconds

StopIteration:

### Upload taxi zones csv file to the Postgres

In [22]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [23]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [26]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265