In [2]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [3]:
pd.__version__

'1.5.3'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

AttributeError: 'DataFrame' object has no attribute 'tpep_pickup_datetime'

In [25]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [10]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [12]:
df = next(df_iter)

In [15]:
len(df)

100000

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

### Insert only the column names first

In [17]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

### Append the first batch (100000 lines) of data into the created table

In [18]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.58 s, sys: 252 ms, total: 5.83 s
Wall time: 26 s

1000

In [20]:
while True:

    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    
    print('Inserted another chunk..., took %.3f seconds' % (t_end - t_start))

Inserted another chunk..., took 33.323 seconds
Inserted another chunk..., took 34.759 seconds
Inserted another chunk..., took 34.400 seconds
Inserted another chunk..., took 19.884 seconds
Inserted another chunk..., took 24.354 seconds
Inserted another chunk..., took 25.411 seconds
Inserted another chunk..., took 28.853 seconds
Inserted another chunk..., took 23.723 seconds
Inserted another chunk..., took 28.681 seconds
Inserted another chunk..., took 29.436 seconds
Inserted another chunk..., took 60.867 seconds

<ipython-input-20-0d7c13ed1297>:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk..., took 32.861 seconds
Inserted another chunk..., took 17.073 seconds

StopIteration:

### Upload taxi zones csv file to the Postgres

In [22]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [23]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [26]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265